.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/bg-login.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.login-layout {
    width: 1047px;
    height: 586px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.71);
    box-shadow: var(--el-box-shadow-dark);
}

.login-box-left {
    width: 50%;
}

.login-box-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 8em 14em 8em 14em;
    padding: 1em;
    border-radius: 20px;
}

.login-box-form {

}